<div class="list-wrapper">
   <div class="list-wrapper__header">
   	<div class="list-header-content">
   		Intranet Files
   		<span>(141)</span>
   	</div>
   </div>
   <div class="list-wrapper__container">
      <div class="list">
         <div class="list__image">
            <img src="assets/images/square.png" alt="folder-icon"/>
         </div>
         <div class="list__text">
            <div class="list__text--ellipsis">Sales</div>
            <div>In <span>sales</span></div>
         </div>
      </div>
      <div class="list">
         <div class="list__image">
            <img src="assets/images/square.png" alt="ppt-icon"/>
         </div>
         <div class="list__text">
            <div class="list__text--ellipsis">Season-revenue.xsl</div>
            <div>In <span>sales</span></div>
         </div>
      </div>
      <div class="list">
         <div class="list__image">
            <img src="assets/images/square.png" alt="pdf-icon"/>
         </div>
         <div class="list__text">
            <div class="list__text--ellipsis">logo.png</div>
            <div>In <span>Branding</span></div>
         </div>
      </div>
      <div class="list">
         <div class="list__image">
            <img src="assets/images/square.png" alt="folder-icon"/>
         </div>
         <div class="list__text">
            <div class="list__text--ellipsis">marketing opportunites_in_german</div>
            <div>By <span>Jane Edwards</span></div>
         </div>
      </div>
      <div class="list">
         <div class="list__image">
            <img src="assets/images/square.png" alt="ppt-icon"/>
         </div>
         <div class="list__text">
            <div class="list__text--ellipsis">pitch_deck_final_final_final.ppt</div>
            <div>By <span>Jane Edwards</span></div>
         </div>
      </div>
      <div class="list">
         <div class="list__image">
            <img src="assets/images/square.png" alt="pdf-icon"/>
         </div>
         <div class="list__text">
            <div class="list__text--ellipsis">Barbara-portrait.jpg</div>
            <div>In <span>About company</span></div>
         </div>
      </div>
      <div class="list-all">
      	<a href="" class="anchor-links">View all Intranet Files</a>
      </div>
   </div>
</div>