<div class="left-container-wrapper col-sm-8 col-xs-12 mod-tileContainer">
      <div class="">
	      <div class="tile-wrapper">
	      	{{> tile-container-full}}
	      	{{> tile-container-full}}
	      	{{> tile-container-half}}
	      	{{> tile-container-half}}
	      	{{> tile-container-half}}
	      	{{> tile-container-full}}
	      	{{> tile-container-full}}
	      	{{> tile-container-full}}
	      </div>
      </div>
</div>