<div class="tile-container">
   <div class="tile-container__image">
      <img src="assets/images/default_avatar.png" alt="tile-icon">
   </div>
   <div class="tile-container__section">
      <div class="tile-container__section-head">SITE</div>
      <div class="tile-container__section-para">Social Events</div>
      <div class="tile-container__section-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Placeat sunt,eum numquam! Quas reic Lorem ipsum dolor</div>
      <div class="tile-container__section-user">By <span>Username</span> on Aug 17,2015</div>
   </div>
</div>