<div class="tile-container">
   <div class="tile-container__image">
      <img src="assets/images/default_avatar.png" alt="tile-icon" class="circle-image">
   </div>
   <div class="tile-container__section">
      <div class="tile-container__section-inner">
         <div class="t-container-text"><label>Person</label><span class="span-color"> Expertise match</span></div>
         <div class="t-container-desc">Emma Okeefe</div>
         <div class="t-container-desc">
         	<p>Vice President of Sales-Sales</p>
         	<p>Milpitas, CA, USA</p>
         </div>
      </div>
      <div class="tile-container__section-inner details-section">
         <div class="t-container-phem"><img src="assets/images/phone.png" alt="phone"/><span> +1(650) 987 5348 (Ext.+277)</span></div>
         <div class="t-container-phem"><img src="assets/images/email.png" alt="email"/><span> emma.okeefe@companyname.com</span></div>
         
      </div>
   </div>
</div>