<div class="topheadernav">
  <div class="container-fluid no-margin topheadernav__navigation">
    <div class="row">
      <div class="col-sm-12">
        
        <div class="rightmenubox">
          <div class="rightmenubox__menubox">
            <ul>
              <li class="submenu firstlevel"><a href="" class="active" title="top">Top<span></span></a></li>
              <li class="submenu firstlevel"><a href="" title="sites">Sites <span>(4)</span></a> </li>
              <li class="submenu firstlevel"><a href="" title="Content">Content <span>(167)</span></a></li>
              <li class="submenu firstlevel"><a href="" title="people">People <span>(72)</span></a></li>
              <li class="submenu firstlevel"><a href="" title="Intranet Files">Intranet Files <span>(141)</span></a> </li>
              <li class="submenu firstlevel"><a href="" title="Google Drive Files">Google Drive Files<span> (197)</span></a></li>
              <li class="submenu firstlevel"><a href="" title ="Feed">Feed <span></span></a></li>       
            </ul>
          </div>
          <div class="rightmenubox__hamburger hide-on-desktop">
            <a href="" title="hamburger">
            <img src="assets/images/menuCollapsed.png" alt="hamburger menu"/>
          </a>
          </div>  
        </div>

      </div>
    </div>
  </div>
</div>