.main-container-wrapper {
  float:left;
  display:block;
  width:100%;
  margin: 20px 0;
  span {
    color:$color-medium-green;
    font-size: convert-in-rem(14);
    line-height: convert-in-rem(22);
    &.span-color {
      font-size: convert-in-rem(10);
      line-height: convert-in-rem(14);
    }
  }
}
.right-container-wrapper {
float:left;

  @include respond-to(desktop) {
    border-left: 1px solid $color-border;
    padding-right: 0;
  }
  @include respond-to(below-tablet) {
    padding:0;
    margin: 15px 0;
  }
}
.left-container-wrapper {
  float:left;
  padding-left: 0;
  @include respond-to(below-tablet) {
    padding: 0;
  }
  
}