
$color-spacing:(
	sky-blue: 120px,
	yellow: 100px,
	light-green: 80px,
	red: 75px,
	blue: 60px,
	lighter-pink: 50px,
	pink: 40px,
	green: 30px,
	light-pink: 20px,
	dark-blue: 10px
);

//Fonts variable


/* Primary Colours */

$color-dark-grey: #393939;
$color-light-grey: #868686;
$color-red: #ec1e32;
$color-light-blue: #00b4e4;
$color-dark-blue: #00467c;
$color-green: #b4e324;
$color-yellow: #fff247;
$color-light-cream: #fff68f;
$color-light-green:#7CFC00;
$color-border:#C0C0C0;
$color-medium-green:#1abc9c;

$color-footer-background-bottom: #414141;
$color-footer-text-color: #bababa;
$color-primary-background: #F5F5F5;
$color-closet-white: #f2f2f2;


/*Sass color variables*/
$color-header-color: #f2f2f2;
$color-header-element-color: #8b8b8b;
$color-black: #000000;
$color-white: #FFFFFF;
/*Sass Fonts Variable*/

$base-font-size: 16 !default;

/*Font family Arial*/

$font-family :'Arial';




